# Dashboard Inbound 로그인 크리덴셜
DASHBOARD_INBOUND_USER_NAME=
DASHBOARD_INBOUND_USER_PASSWORD=

# Dashboard Outbound 로그인 크리덴셜
DASHBOARD_OUTBOUND_USER_NAME=
DASHBOARD_OUTBOUND_USER_PASSWORD=

# Remittance Admin 로그인 크리덴셜
REMITTANCE_ADMIN_USER_NAME=
REMITTANCE_ADMIN_USER_PASSWORD=

# API Base URL
API_BASE_URL=
